.page-header {
            min-height: 60vh;
            position: relative;
            overflow: hidden;
        }

        .section-padding {
            padding: 120px 0;
        }

        .sub-bg {
            background-color: #000e0b;
        }

        .mt-80 {
            margin-top: 80px !important;
        }

        .page-header .caption .sub-title {
            position: relative;
            padding-left: 20px;
        }

        .sub-title {
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 20px;
            color: #fff;
            font-family: "Montserrat";
        }

        .page-header .caption .sub-title:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #fff;
        }

        .fz-55 {
            font-size: 40px !important;
            line-height: 50px;
            color: #fff;
            font-family: "Gravedigger";
        }

        p {
            line-height: 1.8;
            font-size: 16px;
            font-weight: 300;
            color: #ddd;
            margin: 0;
            font-family: "Montserrat";
        }

        .page-header .main-marq {
            margin-bottom: -40px;
            text-transform: uppercase;
        }

        .page-header .main-marq .slide-har {
            position: relative;
            display: flex;
        }

        .page-header .main-marq .slide-har.st1 .box {
            -webkit-animation: slide-har 150s linear infinite;
            animation: slide-har 150s linear infinite;
        }

        .main-marq .box:last-of-type .item:nth-of-type(odd) h4 {
            color: transparent;
            -webkit-text-stroke: 1px #fff;
        }

        .main-marq .box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            animation: slide-har 150s linear infinite;
        }

        .main-marq.xlrg .box .item {
            padding: 0 30px;
        }

        .main-marq.xlrg .box .item h4 {
            font-size: 10vw;
            font-weight: 800;
            white-space: nowrap;
            line-height: 1;
            margin: 0;
            color: #ddd;
            font-family: "Montserrat";
        }

        .mb-80 {
            margin-bottom: 80px !important;
        }

        .position-re {
            position: relative;
        }

        .sec-lg-head .dot-titl-non {
            padding: 7px 30px;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-radius: 30px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            display: inline-block;
        }

        .fz-60 {
            font-size: 60px !important;
        }

        .serv-box .serv-item {
            padding: 60px 40px;
            border: 1px solid rgba(255, 255, 255, 0.1);
        }

        .mb-40 {
            margin-bottom: 40px !important;
        }

        .pb-30 {
            padding-bottom: 30px !important;
        }

        .mb-30 {
            margin-bottom: 30px !important;
        }

        .bord-thin-bottom {
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        }

        h5 {
            font-size: 24px;
            font-weight: 500;
            line-height: 1.5;
            color: #fff;
        }

        .radius-10 {
            border-radius: 10px;
        }

        .icon-img-60 {
            width: 60px;
        }

        .services-tab .serv-tab-cont .item .img {
            width: 70%;
            height: 540px;
        }

        #tabs-fade .tab-content.current,
        #tabs .tab-content.current {
            display: block;
        }

        #tabs-fade .tab-content,
        #tabs .tab-content {
            display: none;
        }

        .services-tab .serv-tab-cont .item {
            position: relative;
        }

        .services-tab .serv-tab-cont .item .cont {
            position: absolute;
            bottom: -80px;
            left: 20%;
            right: 0;
            padding: 80px 40px;
        }

        .icon-img-60 {
            width: 60px;
        }

        .mr-15 {
            margin-right: 15px !important;
        }

        .valign {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .services-tab .serv-tab-link .item-link {
            font-size: 32px;
            font-weight: 500;
            cursor: pointer;
            color: #fff;
            line-height: 42px;
            font-family: "Gravedigger";
        }

        .services-tab .serv-tab-link .item-link span {
            font-size: 20px;
            margin-right: 30px;
        }

        .mb-15 {
            margin-bottom: 15px !important;
        }

        .serv-tab-cont .tab-content .item .cont .text p {
            margin-bottom: 30px;
        }

        .serv-tab-cont .tab-content a {
            color: #fff;
            font-family: "Montserrat";
        }

        .mt-30 {
            margin-top: 30px !important;
        }


        .main-marq .box .item:nth-of-type(even) h4 {
            color: transparent;
            -webkit-text-stroke: 0.5px #fff;
        }

        .main-marq {
            overflow: hidden;
            position: relative;
        }

        .slide-har {
            display: flex;
            animation: marquee 20s linear infinite;
            /* Initialize with a right-to-left transition */
            transform: translateX(100%);
        }

        .box {
            display: flex;
        }

        .item {
            padding: 10px;
            margin: 0 5px;
            min-width: 150px;
        }

        @keyframes marquee {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translatex(-144vw);
            }
        }



        .call-action-img .sec-bg-img {
            height: 450px;
            width: 130%;
            position: relative;
            margin-bottom: -200px;
        }

        .call-action-img .sec-lg-head {
            position: relative;
        }

        .ontop {
            position: relative;
            z-index: 7;
        }

        .d-rotate.animated .rotate-text {
            -webkit-transform: translate3d(0px, 0px, 0px) rotateX(0deg) scale(1);
            transform: translate3d(0px, 0px, 0px) rotateX(0deg) scale(1);
            opacity: 1;
        }

        .butn-circle {
            width: 160px;
            height: 160px;
            position: relative;
            overflow: hidden;
        }

        .full-width {
            width: 100% !important;
        }

        .butn-circle:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: #c9f31d;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all .4s;
            -o-transition: all .4s;
            transition: all .4s;
        }

        .butn-circle:hover:after {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }

        .butn-circle .circle-star {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .butn-circle span {
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 2;
            position: relative;
            z-index: 2;
            color: #fff;
            font-family: "Montserrat";
        }

        .call-action-img .sec-lg-head:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 400%;
            height: 100%;
            background: #001511;
        }

        .intro-corp .card {
            text-align: left;
            justify-content: left;
            align-items: self-start;
            padding: 0px 0px;
            border-radius: 0px;
            box-shadow: none;
        }

        .intro-corp .card:hover {
            background: transparent !important;
            transition: all 0.5s ease-in-out !important;
            transform: scale(1);
        }

        .intro-corp .card-header {
            width: 100%;

        }

        .intro-corp .btn {
            padding: 1.5rem 1rem;
            background-color: transparent;
            color: #fff;
            border-bottom: 1px solid #fff;
            font-family: "Montserrat";
            font-size: 16px;
        }

        .card-header {
            padding: 0rem 0rem;
        }

        .intro-corp .cont .text {
            margin-bottom: 20px;
        }

        .intro-corp .cont .text h2 {
            font-size: 32px;
            font-weight: 700;
            line-height: 1.4;
            color: #fff;
            font-family: "Gravedigger";
            word-spacing: 14px;
            letter-spacing: 3px;
        }

        .intro-corp .card-body {
            font-size: 14px;
            font-weight: 300;
            line-height: 1.8;
            color: #ddd;
            font-family: "Montserrat";

        }

        .intro-corp .card {
            background: transparent;
        }

        .intro-corp .card-header {
            background: transparent;
        }
        @media (max-width: 700px) {
            .fz-55 {
                font-size: 22px !important;
            }
            .fz-60 {
                font-size: 22px !important;
            }
            .services-tab .serv-tab-link .item-link {
    font-size: 22px;
    line-height: 32px;
            }
            .sec-lg-head h2 {
    font-size: 22px;
            }
            .butn-circle {
    width: 120px;
    height: 120px;
}
            .butn-circle span {
    font-size: 12px;
}
.intro-corp .cont .text h2 {
    font-size: 22px;
}
.section-padding{
    padding: 100px 0px;
}
        }