/* h1,p {
            text-align: center;
        } */

        .service-wrapper {
            padding: 100px 157px;
        }

        .head-service-wrapper {
            padding-bottom: 20px;
            border-bottom: 2px solid #f5ea14;

        }

        .head-wrapper h4 {
            font-size: 55px;
            line-height: 60px;
            color: #f5ea14;
            text-transform: uppercase;
            font-family: "Gravedigger";
        }

        .filter-wrapper {
            display: flex;
            align-items: center;
            height: 100%;
            justify-content: center;
            gap: 36px;
            cursor: pointer;
        }

        .filter-wrapper .filter h5 {
            color: #fff;
            font-size: 22px;
            line-height: 26px;
            text-transform: uppercase;
        }

        .active-filter {
            border-bottom: 1px solid #f4e914;
            /* Apply your active filter styling */
        }

        .filter-content2,
        .filter-content3 {
            display: none;
        }



        .card-container {
            width: 100%;
        }

        
        
        

        


        @media (max-width: 1030px) {
            .service-wrapper {
                padding: 100px 50px;
            }

            .head-wrapper h4 {
                text-align: center;
                margin-bottom: 40px;
            }
        }

        @media (max-width: 800px) {
            .service-wrapper {
                padding: 100px 20px;
            }

            .filter-wrapper .filter h5 {
                color: #fff;
                font-size: 13px;
                line-height: 20px;
                text-transform: uppercase;
            }
        }

        .image-card {
  max-width: 100%; /* Ensure the card adjusts its width based on the parent container */
  height: 400px; /* Maintain aspect ratio */
  overflow: hidden;
  position: relative;
}

.card-image {
  width: 100%; /* Occupy full width of the card */
  height: 100%; /* Maintain aspect ratio */
}
.card-content h5{
    color: #fff;
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 17px;
    margin-top: 17px;
}
.filter-content{
    padding-top: 50px;
    padding-bottom: 50px;
}